<div class="container-fluid" id="main">
  <!-- flash for login -->
  {{#if msg}}
  <div class="alert alert-success">
      {{msg}}
  </div>
  {{/if}}

<h4>  Dashboard {{user.loginid}} </h4>
<h4>Year: {{roll.year}} Dept: {{roll.dept}} Div: {{roll.div}} RollNo: {{roll.no}}</h4>

<h5>Showing teachers of dept code {{roll.dept}}</h5>

{{#if teachers}}
  {{teachers}}
{{/if}}

</div>
