<div class="container-fluid" id="main">
  <!-- flash for login -->
  {{#if msg}}
  <div class="alert alert-success">
      {{msg}}
  </div>
  {{/if}}

<h4>  Dashboard {{user.loginid}} </h4>
<h4>Year: {{roll.year}} Dept: {{roll.dept}} Div: {{roll.div}} RollNo: {{roll.no}}</h4>

<h5>Showing teachers of dept code {{roll.dept}}</h5>
<div class="alert alert-info">
  <b>Note: </b> <h5>Click on the teacher's name to give feedback!</h5>
</div>


{{#if token}}
  {{token}}
{{/if}}



<!-- SHOWING TEACHERS ACCORDING TO DEPARTMENT -->
{{#if teachers}}
  <h1>Your teachers:</h1>
  <div class="teachers">
    <div class="names">
      {{#each teachers}}
        <li> <a href="/users/give-feedback" id="name" onclick="passName()">{{this}}</a> </li> <br />
      {{/each}}
    </div>
    <div class="subjects">
      {{#each subjects}}
        <li> {{this}} </li> <br />
      {{/each}}
    </div>
    <div class="designation">
      {{#each designation}}
        <li> {{this}} </li> <br />
      {{/each}}
    </div>
  </div>
{{/if}}


</div>

<script type="text/javascript">
  function passName()
  {
    console.log(document.getElementById('name').val);
  }
</script>
