

<!-- Include the above in your HEAD tag ---------->
{{#if errors}}
  <div class="alert alert-danger">
    {{errors}}
  </div>
{{/if}}

{{#if user}}
  {{user}}
{{/if}}

{{#if roll}}
<h2>Roll details:</h2>
  {{#each roll}}
    {{this}}
  {{/each}}
{{/if}}

{{#if teachers}}
  {{teachers}}
{{/if}}

<div class="container" id="main">
<div class="col-md-5">
    <div class="form-area">

        <form role="form" method="post" action="/users/submit">
        <br style="clear:both">
          {{msg}}
            <h3 style="margin-bottom: 25px; text-align: center;">Feedback Form</h3>

            <div class="form-group">
              <label for="sel1">Select list:</label>
              <select class="form-control" id="sel1">
                <option>Subject-1</option>
                <option>Subject-2</option>
                <option>Subject-3</option>
                <option>Subject-4</option>
                <option>Subject-5</option>
                <option>Subject-6</option>

              </select>
            </div>

    				<div class="form-group">
              <label>Name of the teacher:</label>
						   <input type="text" class="form-control" id="name" name="name" value={{teacher}} required>
					  </div>

          <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control" id="dept" name="dept" value="Department" required>
          </div>

          <div class="form-group">
            <label>Designation</label>
            <input type="text" class="form-control" id="des" name="des" placeholder="Designation" required>

          </div>

        <div class="form-group">
          <label>Teaching quality</label>
          <input type="text" class="form-control" id="tq" name="tq" placeholder="Teaching quality" required>

        <hr />

        <div class="form-group">
          <label>Punctuality</label>
          <input type="text" class="form-control" id="pun" name="pun" placeholder="Punctuality" required>

        <hr />

      </div>





        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>

</div>

<script type="text/javascript">
function display() {
  var dept=$('#dept').val();
  var name=$('#name').val();

  console.log(`Name: ${name} Dept: ${dept}`);
}
</script>
