

<!-- Include the above in your HEAD tag ---------->
{{#if errors}}
  <div class="alert alert-danger">
    {{errors}}
  </div>
{{/if}}

<!-- {{#if user}}
  {{user}}
{{/if}}

{{#if roll}}
<h2>Roll details:</h2>
  {{#each roll}}
    {{this}}
  {{/each}}
{{/if}} -->

{{#if teachers}}
  {{teachers}}
{{/if}}

<div class="container-fluid" id="main">
<div class="col-md-5">
    <div class="form-area">

        <form role="form" method="post" action="/users/submit">
        <br style="clear:both">

          {{#if msg}}
            <div class="alert alert-info">
              {{msg}}
            </div>
          {{/if}}

            <h3 style="margin-bottom: 25px; text-align: center;">Feedback Form</h3>

            <div class="form-group">
              <label id="semester" for="sem">Semester</label>(2/4/6/8)
              <p id="result"></p>
						   <input type="number" minLength="1" min="2" max="8" class="form-control" id="sem" name="sem" onmouseout="checkSem()" >


            </div>

            <div class="form-group">
              <label id="sub" for="subject">Subject</label>
              <p class="alert" id="subResult">

              </p>
						   <input type="text" class="form-control" id="subject" name="subject" onmouseout="checkSub()">
            </div>

    				<div class="form-group">
              <label>Name of the teacher:</label>
						   <input type="text" class="form-control" id="name" name="name" >
					  </div>

          <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control" id="dept" name="dept" placeholder="Department" required>
          </div>



        <div class="form-group" >
          <label>Teaching quality</label>(Rate it out of 0-4 scale)
          <input type="text" class="form-control" id="tq" name="tq" placeholder="Teaching quality" />
        <hr />

        <div class="form-group">
          <label>Punctuality</label>(Rate it out of 0-4 scale)
          <input type="text" class="form-control" id="pun" name="pun" placeholder="Punctuality">
        <hr />

      </div>

      <!-- <button type="submit" id="verify"  onclick="verifyData()" name="verify" class="btn btn-primary pull-right">Verify Form</button> <br /> -->



      <button type="submit" id="submit" onclick="display()" id="submit" name="submit" class="btn btn-primary pull-right" >Submit Form</button>

        </form>
    </div>
</div>
</div>

</div>

<script type="text/javascript">
var subjects=[];
function display()
{
  var sem=$('#sem').val();
  var dept=$('#dept').val();
  var name=$('#name').val();
  var tq= $('#tq').val();
  var pun= $('#pun').val();

  console.log(`Sem: ${sem} Name: ${name} Dept: ${dept} Teaching Quality: ${tq} Punctuality: ${pun}`);
}

//--------------------------------- 1) CHECKSEM------------------------------------
 var sem=document.getElementById('sem');
// sem.addEventListener('mouseout',checkSem);


//FUNCTION TO ADD SUBJECTS ACCORDING TO THE SEMESTER ENTERED(2,4,6,8)
function addSub(subjects)
{
  for(var i=1;i<=6;i++)
  {
    this.subjects.pop();
  }

  if(this.subjects.length == 0)
  {
    this.subjects.push(sub);
    this.subjects.sort();
    console.log(subjects);
  }
  else
  {
    console.log(`Subjects not empty! ${subjects.length}`);
  }
}

function checkSem()
{
    document.getElementById('result').innerHTML="";
    //  document.getElementById('sem').style.border="1px solid black";
  if(sem.value==2)
  {
    var sub=['Applied Maths-2','SPA','ED','AP2','AC2','CS'];
    addSub(sub);
    document.getElementById('sem').style.border="2px solid green";
  }
  else if (sem.value==4)
  {
    var sub=["AT", "Applied Maths-4", "CN", "COA", "OS", "Python"];
    addSub(sub);
    document.getElementById('sem').style.border="2px solid green";
  }
  else
  {
    document.getElementById('result').innerHTML="<h4>Not a valid semester!</h4>"
    document.getElementById('sem').style.border="2px solid red";
  }
}

//------------------------------ 2) CHECKSUB --------------------------
 var sub=document.getElementById('subject');
// sub.addEventListener('mouseout',checkSub);

function checkSub()
{
  // console.log(sub.value);
  // console.log(`In checkSub(): ${subjects}`);
  console.log(subjects.length);
}


</script>
